.hes{
	width: 100%;
	height: 150px;
	background: linear-gradient(to bottom right, #003366 -1%, #ffff99 100%);
}
.heading1{
	font-family: 'Sofia';
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: black;
	bottom: 40px;
	
}
.man{
	width: 100%;
	height: 70px;
	background-image: url("homepics/menup.jpg");
}
ul{
	margin: 0px;
	padding: 15px;
	position: relative;
	top: 5px;
	left: 250px;
	display: inline-block;
}
li{
	display: inline;
	margin-right: 50px;
	font-size: 1.5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: white;
}
a.h1:visited{color: white;}
a.h1:link{text-decoration:none; color: white;}
a.h1:hover{text-decoration:underline; color: hotpink;}

/*.this
{
	 
background-image: url(flower.jpg);
}
*/
.img{
	background-image: url("aboutpics/nice.jpg");
}


.head1{
	text-align: center;
	font-family: cursive;
	color: #ff8533;
}


.para1{
	font-size: 20px;
	color: #527a7a;
	text-align: center;
	font-style: italic;
}

.img1
{
	background-image: url("aboutpics/moods.jpg")
}

.head2
{
	text-align: center;
	font-family: cursive;
	color: #ff8533;
}
.para2
{
	color: #527a7a;
	text-align: center;
	font-style: italic;
	font-size: 20px;
}


.img2
{
	background-image: url("aboutpics/floral.jpg")
}
.main{
	background-image: url("aboutpics/this1.jpg")
}

.head3
{
	text-align: center;
	font-family: cursive;
	color: #ff8533;
}

.para3
{
	color: #527a7a;
	text-align: center;
	font-style: italic;
	font-size: 20px;
}
